*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy, sans-serif;
    cursor:crosshair;
}
body{
    background-image: url(wall.jpg);
    background-size:auto;
    height: 100vh;
}
.terrorist{
    height: 100px;
}

.civilian{
    height: 100px;
}

.bandit{
    height: 100px;
}

.bomb{
    height: 100px;
}

.dynamite{
    height: 100px;
}
.container{
    position: relative;
    height: 100%;
    overflow: hidden;
}
a{
    color: rgb(36, 3, 3);
    border:  2px solid #fff;
    background: transparent;
    margin-top: 500%;
    margin-bottom: 30%;
    margin-left: 45%;
    margin-right: 30%;
    font-size: 300%;
    
    margin-top: 3em;
    outline: none;
    cursor: none;
}
